<p-menubar [model]="items">

  <ng-template pTemplate="start">
    <a routerLink="/" class="logo">FenixStore</a>
  </ng-template>

  <ng-template pTemplate="end">
    <button
      pButton
      type="button"
      icon="pi pi-shopping-cart"
      class="p-button-rounded p-button-text mr-2"
      (click)="goCart()">
      <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
    </button>

    <p-avatar
      *ngIf="isAuthenticated"
      image="../../../assets/profile.png"
      shape="circle"
      size="large"
      styleClass="cursor-pointer"
      (click)="menu.toggle($event)">
    </p-avatar>

    <p-button
      *ngIf="isAuthenticated"
      icon="pi pi-user"
      styleClass="p-button-rounded p-button-text mr-1"
      (onClick)="menu.toggle($event)">
    </p-button>

    <p-menu #menu [popup]="true" [model]="isAuthenticated ? userMenuItems : authMenuItems"></p-menu>
  </ng-template>

</p-menubar>
